
@{
    Layout = null;
}
@using SchoolBBS.DataAccessLibrary;
@using SchoolBBS.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostPage</title>
	<script src="~/Scripts/jquery-1.10.2.js"></script>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script>
		$(document).ready(function () {
			$("#reply-bt").click(function () {
				var content = $("#reply-content").val();
				if (content.trim() <= 1) {
					alert("回复内容不能为空！");
				}
				else {
					var loginUser = "";
					var blank = "blank";
					@{ 
						var isLogined = "";
						var replyOfPost = new PostDataAccess().GetPostByID(int.Parse(Request.Params["id"].ToString()));
						if(Request.Cookies["LoginUser"]==null)
						{
							isLogined = "blank";
						}
						else
						{
							isLogined = Request.Cookies["LoginUser"].Value;
						}
					}
					var st = @isLogined;
					if ("blank" == st) {
						alert("您未登录");
					}
					else {
						loginUser = @isLogined;
					}
					$.ajax({
						url: "/Reply/AddReplyAction",
						data: {
							"replyOfPost":@replyOfPost.PostID,
							"replyUser":loginUser,
							"content": content,
							"hasPicture":0,
							"picturePath": ""
						},
						type: "POST",
						dataType: "Json",
						success: function (data) {
							if (data == "success") {
								alert("发表成功");
								window.location.reload();
							}
							if (data == "failed") {
								alert("发表失败");
							}
							else {
								//alert(data);
							}
						}
					});
				}
			})
		})
	</script>
	<style>
		html {
			/*background-color: #114e52;*/
			background-image: url(/Resource/backimg.jpg);
			/*background-color: rgb(27,40,56);*/
			/*background-color:#fff;*/
		}
		body {
			width: 1000px;
			height: 800px;
			margin: 0px auto;
			background-image: url(/Resource/backimg.jpg);
			/*background-color: rgb(27,40,56);*/
		}
		article{
			width:750px;
			height:auto;
			float:left;
		}
		article ul {
			width: 750px;
			height:auto;
			padding: 0px;
		}
		article li {
			list-style: none;
			width: 710px;
			margin-top: 15px;
			margin-left: 20px;
			margin-right: 20px;
			background-color: #f4eeee;
			border-radius: 3px;
			overflow:hidden;
		}
		.headPic {
			width: 120px;
			height:120px;
			margin-bottom:0px;
			padding-bottom:0px;
			background-color: #f4eeee;
			overflow:hidden;
			float: left;
		}
		.headPic img{	
			width:80px;
			margin-top:20px;
			margin-left:20px;
			margin-bottom:20px;
		}
		.reply-container{
			width:590px;
			min-height:120px;
			float:left;
			background-color:#fff;
		}
		.reply-username {
			margin-top:10px;
			margin-left:10px;
			color: #333;
			font-size: 20px;
			font-family: '黑体';
			line-height:30px;
			width:100px;
			float:left;
		}
		.tr-level {
			margin-right: 10px;
			margin-top:10px;
			float: right;
			font-size:13px;
			color:#808080;
		}
		.reply-time {
			clear:both;
			margin-left: 10px;
			color: #808080;
			font-size: 13px;
		}
		.reply-content {
			margin-left: 10px;
			margin-top: 3px;
			margin-right:10px;
			padding-bottom:10px;
			width: auto;
			height:auto;
			background: #fff;
			font-size:14px;
			line-height:25px;
			text-indent:2em;
			letter-spacing:1px;/*字间距*/
		}
		footer{
			width:960px;
			background-color:#fff;
			border-radius:2px;
			height:200px;
			margin-left:20px;
			margin-bottom:20px;
		}
		.reply-area{
			background: #DCDCDC;
			width: auto;
			height: auto;
			padding: 10px;
		}
		.reply-head {
			font-size: 18px;
			line-height: 20px;
			margin-bottom: 5px;
			margin-left:5px;
			margin-top:5px;
		}

		#reply-content {
			margin-top: 20px;
			width: 700px;
			resize: none;
		}

		textarea {
			padding: 5px 10px;
			border: 1px solid #cccccc;
		}

		#reply-bt {
			margin-top: 10px;
		}
		.warning{

		}

		header {
			width: 960px;
			height: 150px;
			margin-top: 20px;
			margin-left: 20px;
			margin-right: 20px;
			background-color:white;
		}
		.post-area 
		{
			padding:10px;
		}
		.title {
			font-size: 20px;
			
		}
		.post-time{
			color:#808080;
			font-size:15px;
			line-height:25px;
		}
		content {
			font-size: 14px;
			line-height: 25px;
			text-indent: 2em;
			letter-spacing: 1px; /*字间距*/
		}
		.left-info {
			width: 230px;
			height: auto;
			border-radius: 2px;
			background-color: rgba(24, 171, 177, 0.77);
			float: left;
			margin-left: 20px;
			margin-top: 20px;
		}
		.left-info ul{
			padding:0px;
			list-style:none;
		}
		.left-info li{
			font-size:12px;
			margin-top:5px;
			margin-left:5px;
			width:220px;
		}
		.left-info li a{
			text-decoration:none;
			color:white;
		}
		.left-info li a:hover {
			color: #fafafa;
		}
		.left-info-head{
			margin:10px;
			color:white;
		}
	</style>
</head>
<body>
	@{
		var postID = int.Parse(Request.Params["ID"].ToString());
		var post = new PostDataAccess().GetPostByID(postID);
		User us = new UserDataAccess().GetUserByID(post.PostUser);
	}
    <header> 
		@{ 
			<div class="post-userinfo">
				@*<div>@us.NickName:</div>*@
			</div>
			<div class="post-area">
				<div class="title"><b>@post.Title</b></div>
				<div class="post-time">@post.PostTime</div>
				<div class="content">@post.Content</div>
			</div>
		}
    </header>
	<div class="left-info">
		<div class="left-info-head">热门帖子</div>
		<ul>
			<li><a href="#" target="_blank">1.国美回应黄光裕出狱传闻：消息不实，当事人一切正常</a></li>
			<li><a href="#">2.互联网是怎么一步步成为基础服务的</a></li>
			<li><a href="#">3.深圳交委：滴滴投放小蓝单车属违规，已多次约谈</a></li>
			<li><a href="#">4.【IT之家】特斯拉Model X现场实拍：无处不在的科技感</a></li>
			<li><a href="#">5.网易云音乐自有加密音乐格式曝光：没会员无法播放</a></li>
			<li><a href="#">6.阔别7年的内裤外穿回归：全新超人首曝造型照</a></li>
			<li><a href="#">7.LG V30+α有望亮相MWC 2018：骁龙835全面屏，AI加持</a></li>
			<li><a href="#">8.乐视网或于下周四复牌</a></li>
			<li><a href="#">9.手机QQ iOS版v7.3.5更新：新增视频通话表情红包</a></li>
			<li><a href="#">10.新年挂历暗藏40万元内存条，被海关逮个正着</a></li>
		</ul>
	</div>
	<article>
		<ul>
			@{
				var list = new ReplyDataAccess().GetReplysByPostID(int.Parse(Request.Params["ID"].ToString()));
				if (list != null)
				{
					foreach (var item in list)
					{
						<li>
							<div class="headPic">
								<img src="~/Resource/head8.png" />
							</div>
							<div class="reply-container">
								<div class="reply-username"><b>@us.NickName</b></div>
								<div class="tr-level">@item.ReplyFloor 楼</div>
								<div class="reply-time">@item.ReplyTime</div>
								<div class="reply-content">@item.ReplyContent</div>
								@{
									if (item.HasPicture == 1)
									{
										<div class="reply-img">
											<img src="@item.PicturePath" />
										</div>
									}
								}
							</div>
							<div style="clear:both;"></div>
						</li>
					}
				}

			}
			
		</ul>
	</article>
	<div style="clear:both;"></div>
	<footer>
		<div class="reply-area">
			<div class="reply-head">回复</div>
			<div class="warning"></div>
			<textarea id="reply-content" rows="5" placeholder="内容"></textarea><br />
			<input type="button" value="回复" id="reply-bt" class="btn btn-default" />
		</div>
	</footer>
</body>
</html>
