
@{
    Layout = null;
}
@using SchoolBBS.DataAccessLibrary;
@using SchoolBBS.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostPage</title>
	<script src="~/Scripts/jquery-1.10.2.js"></script>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	@*<link href="~/Content/PostPage.css" type="text/css" rel="stylesheet" />*@
	<link href="~/Scripts/Umeditor/utf8-asp/themes/default/css/umeditor.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="~/Scripts/Umeditor/utf8-asp/third-party/jquery.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="~/Scripts/Umeditor/utf8-asp/umeditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="~/Scripts/Umeditor/utf8-asp/umeditor.js"></script>
	<script type="text/javascript" src="~/Scripts/Umeditor/utf8-asp/lang/zh-cn/zh-cn.js"></script>
	<script>
		$(document).ready(function () {
			$("#reply-bt").click(function () {
				var um = UM.getEditor("myEditor");
				var plainTxt = um.getPlainTxt().trim() + "";
				if (plainTxt.indexOf("_src") > 10) {
					//有图
					if (plainTxt.indexOf("<img src") != plainTxt.lastIndexOf("<img src")) {
						alert("仅可上传一张图片哟");
					}
					else {
						var picPath = "";
						var pathStart = plainTxt.indexOf("_src");
						var len = 96;
						picPath = plainTxt.substr(pathStart - 95, 93);
						subreply(1, picPath);
					}
				}
				else {
					//无图
					subreply(0, "");
				}


				function subreply(hasPicture,picPath) {
					var content = UM.getEditor("myEditor").getContentTxt();
					if (content.trim() <= 1) {
						alert("回复内容不能为空！");
					}
					else {
						var loginUser = "";
						var blank = "blank";
						@{
							var isLogined = "";
							var replyOfPost = new PostDataAccess().GetPostByID(int.Parse(Request.Params["ID"].ToString()));
							if (replyOfPost == null)
							{
								//如果输入的ID是不存在的或者帖子被删除
								// Todo
							}
							if (Request.Cookies["LoginUser"] == null)
							{
								isLogined = "blank";
							}
							else
							{
								isLogined = Request.Cookies["LoginUser"].Value;
							}
						}
						var st = @isLogined;
						if ("blank" == st) {
							alert("您未登录");
						}
						else {
							loginUser = @isLogined;
						}
						$.ajax({
							url: "/Reply/AddReplyAction",
							data: {
								"replyOfPost":@replyOfPost.PostID,
								"replyUser":loginUser,
								"content": content,
								"hasPicture": hasPicture,
								"picturePath": picPath
							},
							type: "POST",
							dataType: "Json",
							success: function (data) {
								if (data == "success") {
									alert("发表成功");
									window.location.reload();
								}
								if (data == "failed") {
									alert("发表失败");
								}
								else {
									//alert(data);
								}
							}
						});
					}
				}
			})
		})
	</script>
	<style>
		html {
			background-color:#fff;
			height:auto;
		}

		body {
			width: 1000px;
			height: auto;
			margin: 0px auto;
			/*background-image: url(/Resource/backimg.jpg);*/
			background-color: #e3f1f5;
		}

		article {
			width: 750px;
			height: auto;
			float: left;
		}

		article ul {
			width: 750px;
			height: auto;
			padding: 0px;
		}

		article li {
			list-style: none;
			width: 760px;
			margin-top: 15px;
			margin-left: 20px;
			margin-right: 20px;
			background-color: #f4eeee;
			border-radius: 3px;
			overflow: hidden;
		}

		.headPic {
			width: 120px;
			height: 120px;
			margin-bottom: 0px;
			padding-bottom: 0px;
			background-color: #f4eeee;
			overflow: hidden;
			float: left;
		}

		.headPic img {
			width: 80px;
			margin-top: 20px;
			margin-left: 20px;
			margin-bottom: 20px;
		}

		.reply-container {
			width: 640px;
			min-height: 120px;
			float: left;
			background-color: #fff;
		}

		.reply-username {
			margin-top: 10px;
			margin-left: 10px;
			color: #333;
			font-size: 20px;
			font-family: '黑体';
			line-height: 30px;
			width: 150px;
			overflow:hidden;
			float: left;
		}

		.tr-level {
			margin-right: 10px;
			margin-top: 10px;
			float: right;
			font-size: 13px;
			color: #808080;
		}

		.reply-time {
			clear: both;
			margin-left: 10px;
			color: #808080;
			font-size: 13px;
		}

		.reply-content {
			margin-left: 10px;
			margin-top: 3px;
			margin-right: 10px;
			padding-bottom: 10px;
			width: auto;
			height: auto;
			background: #fff;
			font-size: 14px;
			line-height: 25px;
			text-indent: 2em;
			letter-spacing: 1px; /*字间距*/
		}
		.reply-img{
			margin-bottom:10px;
			margin-left:20px;
		}
		.reply-img img {
			width: 200px;
		}

		footer {
			width: 1000px;
			background-color: #e3f1f5;
			border-radius: 2px;
			height: 200px;
			margin-top:20px;
			margin-left: 0px;
			margin-bottom: 20px;
		}

		.reply-area {
			background: url(../Resource/postback.png) repeat;
			margin-top:20px;
			margin-left:20px;
			margin-right:20px;
			width: 920px;
			height: auto;
			padding: 20px;
		}

		.reply-head {
			font-size: 18px;
			line-height: 20px;
			margin-bottom: 5px;
			margin-left: 5px;
			margin-top: 5px;
		}

		#reply-content {
			margin-top: 20px;
			width: 750px;
			resize: none;
		}
		#reply-bt {
			margin-top: 10px;
		}

		header {
			width: 960px;
			height: 150px;
			margin-left: 20px;
			margin-right: 20px;
			background-color: white;
		}

		.post-area {
			padding: 0px;
		}

		/*顶部样式设计*/
		.title {
			padding-top:5px;
			padding-left:10px;
			font-size: 20px;
			margin:0px;
		}
		.post-time {
			margin-left:10px;
			color: #808080;
			font-size: 12px;
			line-height: 25px;
		}
		.content {
			margin:10px;
			font-size: 14px;
			line-height: 25px;
			text-indent: 2em;
			letter-spacing: 1px; /*字间距*/
		}
		/*----*/

		.left-info {
			width: 180px;
			height: auto;
			border-radius: 2px;
			background-color: #fff;
			float: left;
			margin-left: 20px;
			margin-top: 20px;
		}

		.left-info ul {
			padding: 0px;
			list-style: none;
		}

		.left-info li {
			font-size: 12px;
			margin-top: 5px;
			margin-left: 5px;
			width: 220px;
		}

		.left-info li a {
			text-decoration: none;
			/*color: white;*/
		}

		.left-info li a:hover {
			color: #fafafa;
		}

		.left-info-head {
			margin: 10px;
			/*color: white;*/
		}
		#myEditor{
			background:#fff;
		}
		.set-div{
			background-color:#e3f1f5;
		}

	</style>
</head>
<body>
	@{
		var param = Request.Params["ID"];
		if (param.ToString() == "")
		{
			<script type="text/javascript">
				alert("ab");
				window.location.href = "/Error/Error";
			</script>
		}
		var postID = int.Parse(Request.Params["ID"].ToString());
		var post = new PostDataAccess().GetPostByID(postID);
		User us = new User();
		if (post == null)
		{
			<script type="text/javascript">
				alert("ab");
			window.location.href = "/Error/Error";
			</script>
		}
		else
		{
			us = new UserDataAccess().GetUserByID(post.PostUser);
		}
	}
    <header> 
		@{ 
			<div class="post-userinfo">
				@*<div>@us.NickName:</div>*@
			</div>
			<div class="post-area">
				<div class="title"><b>@post.Title</b></div>
				<div class="post-time">@post.PostTime</div>
				<div class="content">@post.Content</div>
			</div>
		}
    </header>
	<div>
		<div class="left-info">
			<div style="color:cadetblue;margin:5px;">楼主</div>
			<div class="left-info-head">
				@{
					var un = new UserDataAccess().GetUserByID(post.PostUser);
				}
				<img style="border-radius:50%;width:140px;margin:10px;" src="@un.HeadPicPath" />
				
				<div style="width:160px;text-align:center">@un.NickName</div>
			</div>
		</div>
		<article>
			<ul>
				@{
					var list = new ReplyDataAccess().GetReplysByPostID(int.Parse(Request.Params["ID"].ToString()));
					if (list == null)
					{
						<li style="background:#fff">&nbsp;&nbsp;暂无回复！</li>
					}
					if (list != null)
					{
						foreach (var item in list)
						{
							<li>
								<div class="headPic">
									@{ 
										var itemusr = new UserDataAccess().GetUserByID(item.ReplyUser);
									}
									<img src="@itemusr.HeadPicPath" />
								</div>
								<div class="reply-container">
									<div class="reply-username"><b>@us.NickName</b></div>
									<div class="tr-level">@item.ReplyFloor 楼</div>
									<div class="reply-time">@item.ReplyTime</div>
									<div class="reply-content">@item.ReplyContent</div>
									@{
										if (item.HasPicture == 1)
										{
											<div class="reply-img">
												<img src="@item.PicturePath" />
											</div>
										}
									}
								</div>
								<div style="clear:both;"></div>
							</li>
											}
										}

				}

			</ul>
		</article>
		<div style="clear:both;"></div>
	</div>
	
	<footer>
		<div class="set-div">
			<div class="reply-area">
				<div class="reply-head">回复</div>
				<div class="warning"></div>
				<br />
				<script type="text/plain" id="myEditor" style="width:920px;height:240px;">
					<p>发表的内容</p>
				</script>
				<input type="button" value="回复" id="reply-bt" class="btn btn-default" />
			</div>
		</div>
	</footer>
	<script type="text/javascript">
		//实例化编辑器
		var um = UM.getEditor('myEditor');
	</script>
</body>
</html>
