
@{
    Layout = null;
}
@using SchoolBBS.DataAccessLibrary;
@using SchoolBBS.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostPage</title>
	<script src="~/Scripts/jquery-1.10.2.js"></script>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<link href="~/Content/PostPage.css" type="text/css" rel="stylesheet" />
	<link href="~/Scripts/Umeditor/utf8-asp/themes/default/css/umeditor.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="~/Scripts/Umeditor/utf8-asp/third-party/jquery.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="~/Scripts/Umeditor/utf8-asp/umeditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="~/Scripts/Umeditor/utf8-asp/umeditor.js"></script>
	<script type="text/javascript" src="~/Scripts/Umeditor/utf8-asp/lang/zh-cn/zh-cn.js"></script>
	<script>
		$(document).ready(function () {
			$("#reply-bt").click(function () {
				var um = UM.getEditor("myEditor");
				var plainTxt = um.getPlainTxt().trim() + "";
				if (plainTxt.indexOf("_src") > 10) {
					//有图
					if (plainTxt.indexOf("<img src") != plainTxt.lastIndexOf("<img src")) {
						alert("仅可上传一张图片哟");
					}
					else {
						var picPath = "";
						var pathStart = plainTxt.indexOf("_src");
						var len = 96;
						picPath = plainTxt.substr(pathStart - 95, 93);
						subreply(1, picPath);
					}
				}
				else {
					//无图
					subreply(0, "");
				}


				function subreply(hasPicture,picPath) {
					var content = UM.getEditor("myEditor").getContentTxt();
					if (content.trim() <= 1) {
						alert("回复内容不能为空！");
					}
					else {
						var loginUser = "";
						var blank = "blank";
						@{
							var isLogined = "";
							var replyOfPost = new PostDataAccess().GetPostByID(int.Parse(Request.Params["ID"].ToString()));
							if (replyOfPost == null)
							{
								//如果输入的ID是不存在的或者帖子被删除
								// Todo
							}
							if (Request.Cookies["LoginUser"] == null)
							{
								isLogined = "blank";
							}
							else
							{
								isLogined = Request.Cookies["LoginUser"].Value;
							}
						}
						var st = @isLogined;
						if ("blank" == st) {
							alert("您未登录");
						}
						else {
							loginUser = @isLogined;
						}
						$.ajax({
							url: "/Reply/AddReplyAction",
							data: {
								"replyOfPost":@replyOfPost.PostID,
								"replyUser":loginUser,
								"content": content,
								"hasPicture": hasPicture,
								"picturePath": picPath
							},
							type: "POST",
							dataType: "Json",
							success: function (data) {
								if (data == "success") {
									alert("发表成功");
									window.location.reload();
								}
								if (data == "failed") {
									alert("发表失败");
								}
								else {
									//alert(data);
								}
							}
						});
					}
				}
			})
		})
	</script>
</head>
<body>
	@{
		var param = Request.Params["ID"];
		if (param.ToString() == "")
		{
			<script type="text/javascript">
				alert("ab");
				window.location.href = "/Error/Error";
			</script>
		}
		var postID = int.Parse(Request.Params["ID"].ToString());
		var post = new PostDataAccess().GetPostByID(postID);
		User us = new User();
		if (post == null)
		{
			<script type="text/javascript">
				alert("ab");
			window.location.href = "/Error/Error";
			</script>
		}
		else
		{
			us = new UserDataAccess().GetUserByID(post.PostUser);
		}
	}
    <header> 
		@{ 
			<div class="post-userinfo">
				@*<div>@us.NickName:</div>*@
			</div>
			<div class="post-area">
				<div class="title"><b>@post.Title</b></div>
				<div class="post-time">@post.PostTime</div>
				<div class="content">@post.Content</div>
			</div>
		}
    </header>
	<div class="left-info">
		<div class="left-info-head">热门帖子</div>
		@*<ul>
			<li><a href="#" target="_blank">1.国美回应黄光裕出狱传闻：消息不实，当事人一切正常</a></li>
			<li><a href="#">2.互联网是怎么一步步成为基础服务的</a></li>
			<li><a href="#">3.深圳交委：滴滴投放小蓝单车属违规，已多次约谈</a></li>
			<li><a href="#">4.【IT之家】特斯拉Model X现场实拍：无处不在的科技感</a></li>
			<li><a href="#">5.网易云音乐自有加密音乐格式曝光：没会员无法播放</a></li>
			<li><a href="#">6.阔别7年的内裤外穿回归：全新超人首曝造型照</a></li>
			<li><a href="#">7.LG V30+α有望亮相MWC 2018：骁龙835全面屏，AI加持</a></li>
			<li><a href="#">8.乐视网或于下周四复牌</a></li>
			<li><a href="#">9.手机QQ iOS版v7.3.5更新：新增视频通话表情红包</a></li>
			<li><a href="#">10.新年挂历暗藏40万元内存条，被海关逮个正着</a></li>
		</ul>*@
	</div>
	<article>
		<ul>
			@{
				var list = new ReplyDataAccess().GetReplysByPostID(int.Parse(Request.Params["ID"].ToString()));
				if (list == null)
				{

				}
				if (list != null)
				{
					foreach (var item in list)
					{
						<li>
							<div class="headPic">
								<img src="~/Resource/head8.png" />
							</div>
							<div class="reply-container">
								<div class="reply-username"><b>@us.NickName</b></div>
								<div class="tr-level">@item.ReplyFloor 楼</div>
								<div class="reply-time">@item.ReplyTime</div>
								<div class="reply-content">@item.ReplyContent</div>
								@{
									if (item.HasPicture == 1)
									{
										<div class="reply-img">
											<img src="@item.PicturePath" />
										</div>
									}
								}
							</div>
							<div style="clear:both;"></div>
						</li>
					}
				}

			}
			
		</ul>
	</article>
	<div style="clear:both;"></div>
	<footer>
		<div class="reply-area">
			<div class="reply-head">回复</div>
			<div class="warning"></div>
			<br />
			<script type="text/plain" id="myEditor" style="width:920px;height:240px;"><p>发表的内容</p></script>
			<input type="button" value="回复" id="reply-bt" class="btn btn-default" />
		</div>
	</footer>
	<script type="text/javascript">
		//实例化编辑器
		var um = UM.getEditor('myEditor');
	</script>
</body>
</html>
