
@{
	Layout = null;
}
@using SchoolBBS.Models;
@using SchoolBBS.DataAccessLibrary;
@{
	var communityID = Request.Params["CMT"];
	Community com = new Community();
	if (communityID == null)
	{
		com = new CommunityDataAccess().GetCommunityByID(1);
		<script>
			@*
			var comname = @com.CommunityName;
			document.getElementById("community-name").innerHTML = comname + "";
			*@
		</script>
	}
	else
	{
		com = new CommunityDataAccess().GetCommunityByID(int.Parse(communityID));
		<script>
			$(".community-name").text() = @com.CommunityName;
		</script>
	}
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<script src="~/Scripts/jquery-1.10.2.js"></script>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<link href="~/Scripts/Umeditor/utf8-asp/themes/default/css/umeditor.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="~/Scripts/Umeditor/utf8-asp/third-party/jquery.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="~/Scripts/Umeditor/utf8-asp/umeditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="~/Scripts/Umeditor/utf8-asp/umeditor.js"></script>
	<script type="text/javascript" src="~/Scripts/Umeditor/utf8-asp/lang/zh-cn/zh-cn.js"></script>
	<script src="~/Scripts/bootstrap.js"></script>
	<link href="~/Content/Index.css" rel="stylesheet" />
	<script type="text/javascript">
		$(document).ready(function () {
			$(".post-list").hover(function () {
				this.style.background = "#F0FFFF";
			})
			$(".post-list").mouseleave(function () {
				this.style.background = "#FFF";
			})
			$("#sign-out").click(function () {
				$.ajax({
					url: "/Login/SignOutAction",
					type: "POST",
					dataType: "Json",
					success: function (data) {
						if (data == "success") {
							alert("注销成功");
							window.location.reload();
						}
					}
				})
			});
			$("#post-bt").click(function () {
				var um = UM.getEditor("myEditor");
				var plainTxt = um.getPlainTxt().trim() + "";
				if (plainTxt.indexOf("_src") > 10) {
					//有图
					if (plainTxt.indexOf("<img src") != plainTxt.lastIndexOf("<img src")) {
						alert("仅可上传一张图片哟");
					}
					else {
						var picPath = "";
						var pathStart = plainTxt.indexOf("_src");
						var len = 96;
						picPath = plainTxt.substr(pathStart - 95, 93);
						subcontent(1, picPath);
					}
				}
				else {
					//无图
					subcontent(0, "");
				}
			})
			$(".user-area").hover(function () {
				$(this).children("ul").toggle();
			});
			//$(".down-ul").mouseleave(function () {
			//	document.getElementById("down-ul").style.visibility = "hidden";

			//});

			function subcontent(hasPicture,PicPath) {
				var title = $("#post-title").val();
				var content = UM.getEditor("myEditor").getContentTxt();
				var valid = 2;
				if (title.trim().length < 5) {
					valid = valid - 1;
					alert("标题不能为空或标题太短，不得少于5个字符");
				}
				if (content.trim().length < 3) {
					valid = valid - 1;
					alert("话题不能为空或内容太少，不得少于3个字符");
				}
				if (title.trim().length > 100) {
					valid = valid - 1;
					alert("标题过长！");
				}
				if (content.trim().len > 300) {
					valid = valid - 1;
					alert("内容太长，请修改！");
				}

				if (valid == 2) {
					var blank = "blank";
					@{
						string loginuser = "blank";
						if(Request.Cookies["LoginUser"] == null) {
							loginuser = "blank";
						}
						else
						{
							loginuser = Request.Cookies["LoginUser"].Value;
						}
					}
					var loginuser = @loginuser;
					if (loginuser == "blank") {
						alert("您未登录");
					}
					else {
						var communityID = 1;
						communityID = @com.CommunityID;
						$.ajax({
							url: "/Index/PublishPost",
							data: {
								"communityID": communityID,
								"title": title,
								"content": content,
								"postUserID": loginuser,
								"hasPicture": hasPicture,
								"picPath": PicPath
							},
							type: "POST",
							dataType: "Json",
							success: function (data) {
								if (data == "nouser") {
									alert("您未登录");
								}
								if (data == "success")
								{
									alert("发表成功");
									window.location.reload();
								}
								if (data == "error") {
									alert("发表失败");
								}
							}
						})
					}
				}
			}
		})
	</script>
</head>
<body>
	<header class="head">
		<ul class="left-ul">
			<li><a href="/Index/Index" >首页</a></li>
			<li><a href="/Index/Index?CMT=1" >综合区</a></li>
			<li><a href="/Index/Index?CMT=2" >电子爱好区</a></li>
			<li><a href="/Index/Index?CMT=3" >文学交流区</a></li>
		</ul>
		<ul class="right-ul">
			<li class="user-area">
				@{ 
					if (Request.Cookies["LoginUser"] != null)
					{
						User us = new UserDataAccess().GetUserByID(Request.Cookies["LoginUser"].Value);
						<a href="/UserData/UserPage">@us.NickName</a>
					}
					else
					{
						<a href='/Login/LoginIndex'>现在登录</a>
					}
				}
				<ul id="down-ul">
					<li><a href="#" >我的发言</a></li>
					<li><a href="#" id="sign-out">退出</a></li>
				</ul>
			</li>
		</ul>
	</header>
	<div class="title-img">
		<img src="~/Resource/titleimg.png" />
	</div>
	<div class="tag-div">
		@*<div>*@
			<img src="@com.HeadPicPath" />
			<div class="desc">
				<b class="com-name">@com.CommunityName</b>
				<span class="com-desc">@com.Description</span>
			</div>
		@*</div>*@
	</div>
	<div style="clear:both"></div>
	<div class="left" role="tab">
		<ul>
			@{
				var pageind = Request.Params["page"];
				var pageindex = 1;
				if (pageind != null)
				{
					pageindex = int.Parse(pageind.ToString());
				}
				var posts = new PostDataAccess().GetPostsByCommunityID(com.CommunityID,pageindex,4);
				if (posts != null)
				{
					foreach (var item in posts)
					{
						<li>
							<div class="post-list">
								<div class="list-title">
									<div class="title">
										<a href="/Post/PostPage?ID=@item.PostID" target="_blank">@item.Title</a>
									</div>
									<div class="overview">@item.ContentOverview</div>
									@{ 
										if (item.HasPicture == 1)
										{
											<div class="picture">
												<img src="@item.PicturePath" />
											</div>
										}
									}

								</div>
								@{
									User us = new UserDataAccess().GetUserByID(item.PostUser);
								}
								<span class="list-username">@us.NickName</span>
								<span class="list-time">@item.PostTime</span>
								<div style="clear:both"></div>
							</div>
						</li>
					}
				}
			}
		</ul>
	</div>
	<div class="right" role="article">
		<div>
			<!--显示版主信息-->
			
		</div>
		<div class="login-user">
			<!--显示登录用户信息-->
			<img src="~/Resource/head.jpg" />
			<div class="login-user-name" >
				<a href="/UserData/UserPage">没有·神的过往</a>
			</div>
			<div style="clear:both"></div>
		</div>
	</div>
	<div style="clear:both"></div>
	<div class="pagenumber">
		<ul class="pagination">
			@{
				var number = new PostDataAccess().GetPostCountByCommunityID(com.CommunityID);
				//alg
				/*
				 <5   1,2,3...  index--light
				 >5   1,2,3...  index--light
				 */
				if (number/4 <= 5)
				{
					var str = "/Index/Index?CMT=" + com.CommunityID;
					for (int i = 1; i <= number/4; i++)
					{
						var para = str + "&page=" + i.ToString();
						<li><a href="@para">@i</a></li>
					}
				}
				else
				{
					//页数大于5页，算法设计显示排版
				}
			}
			@*<li style="background:#ff6a00"><a href="#">&laquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>*@
		</ul><br>
	</div>
	<div class="reply-container">
		<div class="reply-head">发表话题</div>
		<input type="text" class="form-control" id="post-title" placeholder="标题" />
		<br />
		<script type="text/plain" id="myEditor" style="width:960px;height:240px;"><p>发表的内容</p></script>
		<div class="clear"></div>
		<div class="clear"></div>
		<br/>
		<input type="button" value="发表" id="post-bt" class="btn btn-default" />

	</div>
	<footer>
		天津农学院 | 校园论坛
	</footer>
	<script type="text/javascript">
		//实例化编辑器
		var um = UM.getEditor('myEditor');
	</script>

</body>
</html>
