
@{
    Layout = null;
}
@using SchoolBBS.Models;
@using SchoolBBS.DataAccessLibrary;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CommunityManage</title>
	<script src="~/Scripts/jquery-1.10.2.js"></script>
	<script src="~/Scripts/bootstrap.js"></script>
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
	<table class="table table-striped">
		<tr>
			<td>社区ID</td>
			<td>社区名称</td>
			<td>社区签名</td>
			<td>管理员</td>
			<td>帖子数量</td>
		</tr>
		@{ 
			var communities = new CommunityDataAccess().GetAllCommunities();
			foreach (var item in communities)
			{
				<tr>
					<td>@item.CommunityID</td>
					<td>@item.CommunityName</td>
					<td>@item.Description</td>
					<td>@item.CommunityMaster</td>
					<td>@item.PostCount</td>
				</tr>

			}
		}
	</table>
</body>
</html>
